DATABASE_URL=""
DIRECT_URL=""
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
ANTHROPIC_API_KEY=""
NEXT_PUBLIC_SITE_URL="https://eduardogonzalez.coach"
NEXT_PUBLIC_DEFAULT_LOCALE="es"
